body{
    background-color: black;
    cursor: cell;
}

section{
    width: 31vw;
    border: 2px solid white;;
    margin-bottom: 10px;
    padding: 10px;
}

h1{
    color:rgb(4, 169, 4);
}

h2{
    font-weight: bold;
    color: yellow;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 0;
}

h3{
    margin-top: 0;
}

p{
    margin-bottom: 0;
}

.btn{
    width: 32.3vw;
    height: 60px;
    color: lightcyan;
    border-radius: 10px;
    font-size: 20;
    font-weight: 700;
    cursor: pointer;

    z-index: 2;
}

.hide{
    display: none;
}

#instructions{
    display: flex;
    flex-direction: column;

    width: 20vw;
}

#canvas1 {
    border: 5px solid white;
    position:absolute;
    top: 50%;
    left: 70%;
    translate: -50% -50%;
}

#hidden{
    display: none;
}